@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components{
  .link-hover {
    @apply after:content-[''] after:block after:pb-2 after:border-b-4 after:border-[#ED1C24] after:scale-x-0 after:duration-200 hover:after:scale-x-100 hover:text-[#ED1C24]
  }
}
